################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Projeto_AADAS/obj/Debug
/Projeto_AADAS/bin/Debug
/.vs
